<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guichaguri.trackplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <!-- The main service, handles playback, playlists, media buttons and chromecast -->
        <service
            android:name="guichaguri.trackplayer.logic.services.PlayerService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!-- The service for the headless tasks in which events can be received by the JS side -->
        <service
            android:name="guichaguri.trackplayer.logic.services.PlayerTask"
            android:enabled="true"
            android:stopWithTask="true" />

        <!-- A receiver that will receive media buttons. Required on pre-lollipop devices -->
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>